#info {
  width: 100%;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  border: 1px solid dodgerblue;
}

#info div {
  width: 33.333%;
}

#info div span {
  display: block;
  font-weight: bold;
}