/* #radar {
  width: 100%;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
}

#radar-outer {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  background: #fff;
}

#radar-inner {
  width: 50%;
  height: 50%;
  border: 1px dashed red;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#radar-center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: dodgerblue;
}

#radar-goal {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
} */

.radar-card {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  gap:16px;
  padding: 40px 0;
}

#radar {
 aspect-ratio: 1;
}

#radar-outer {
  position: relative;
 width: 153px;
  height: 153px;
  border-radius: 50%;
  background: var(--color-text);
}

#radar-inner {
  width: 50%;
  height: 50%;
  border: 1px dashed var(--color-button-reward);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#radar-center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-button-reward);
}

#radar-goal {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-button-text);
}

/* GOAL */
#goal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.goal-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 22px;
}

#goal-arrow {
 width: 30px;
  height: 30px;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


#goal-distance {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 40px;
  color: var(--color-text)
}


