#radar {
  width: 100%;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
}

#radar-outer {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  background: #fff;
}

#radar-inner {
  width: 50%;
  height: 50%;
  border: 1px dashed red;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#radar-center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: dodgerblue;
}

#radar-goal {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}