

.reward-card {
  background-color: var(--color-card);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 14px;
}

/* .reward-image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
} */

.reward-text {
    color: var(--card-text);
  text-align: center;
  margin-top: 16px;
}

.reward-text h2 {
  font-family: 'RobotoBold', sans-serif;
  font-size: 18px;
color: var(--color-bg);}