
@font-face {
 font-family: 'Cinzel';
  src: url('./assets/fonts/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/fonts/RobotoBold.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}
:root {
  --color-bg: #6B1E3E;
  --color-text: #E8E8E8;
  --color-button-text: #0F0F0F;
  --color-button-reward: #C2A662;
  --color-card: #D9D9D9;
  
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}

.container {
  margin: 0 16px;
}

section {
  padding-bottom: 40px;
}

img {
  width: 100%;
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

/* HEADINGS */


h1 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  text-align: center;
}

h2,
h3 {
  font-family: 'RobotoBold', sans-serif;
  text-transform: uppercase;
  color: var(--color-text);
}

h2 { font-size: 24px; }
h3 { font-size: 14px; }

h4 {
  font-family: 'Cinzel', serif;
  font-size: 16px;
  color: var(--color-text);
}
h5 {
   font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 40px;
    margin: 12px;

}

/* BUTTONS */
button {
  flex: 1;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  min-width: 173px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--color-button-reward);
  color: var(--color-button-text);
  transition: background-color 0.3s;
}

button:hover,
button:active {
  background-color: var(--color-text);
}

