
/* HERO */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

/* MAP */
.map img {
  padding-top: 24px;
}

/* FOOTER */
footer {
  height: 40px;
  text-align: center;
}

/* HAMBURGER MENU */

#nav-container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw); 
  width: 100vw;
  height:auto;
  top: 80px;
  flex-direction: column;
  gap: 12px;
  background: #E8E8E8;
  z-index: 2000;
  padding: 16px 24px;
}

#nav-container.open {
  display: flex;
}

.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
  flex: 0 0 auto;
  cursor: pointer;
  z-index: 2001;
}
.hamburger:hover,
.hamburger:active {
  background: none;
}

@media (max-width: 768px) {
  .hamburger {
    border:1px solid red;
    display: flex; 
  }
}

.hamburger span {
  display: block;
  height: 4px;
  width: 40px;
  background: #F5F5F5;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.3s;
  transform-origin: center;
}

#hamburger-menu {
  padding-right: 80px;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}
