
/* HERO */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* MAP */
.map img {
  padding-top: 24px;
}

/* FOOTER */
footer {
  height: 40px;
  text-align: center;
}

/* HAMBURGER MENU */


#nav-container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: auto;
  top: 100px;
  flex-direction: column;
  gap: 12px;
  background: #E8E8E8;
  z-index: 2000;
  padding: 16px 24px;
}

#nav-container.open {
  display: flex;
}

.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
  flex: 0 0 auto;
  cursor: pointer;
  z-index: 2001;
}
.hamburger:hover,
.hamburger:active {
  background: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex; 
  }
}

.hamburger span {
  display: block;
  height: 4px;
  width: 40px;
  background: #F5F5F5;
  margin: 0;
  border-radius: 2px;
  transition: 0.3s;
  transform-origin: center;
}

#hamburger-menu {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  z-index: 2001;
  width: 64px; 
  height: 64px; 
}

#hamburger-menu:hover,
#hamburger-menu:active {
  background: none;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
#nav-container a {
  font-family: "Roboto";
  font-size: 28px;
  display: block;
  padding: 12px 16px;
  color: var(--color-button-text);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; 
}
#nav-container a:hover {
 color: var(--color-button-reward);
}
#nav-container a {
  font-family: "Roboto";
  font-size: 28px;
  display: block;
  padding: 12px 16px;
  color: var(--color-button-text);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; 
}
#nav-container a:hover {
 color: var(--color-button-reward);
}

.places-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
