
/* HERO */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

/* MAP */
.map img {
  padding-top: 24px;
}

/* FOOTER */
footer {
  height: 40px;
  text-align: center;
}